<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Sesiones</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body style="background-color:#e0e0e0;">
        
        <h1 align="center" style="background-color:#11222d;"><font COLOR="white" size=30>Sesiones</font></h1>
        <div th:if="${sesiones != null and !sesiones.empty}" align="center">
            <table border="2">
                <tr>
                    <th>Nombre</th>
                    <th>Lugar</th>
                    <th>Hora</th>
              
                   
                </tr>
                <tr th:each="sesion : ${sesiones}">
                    <td th:text="${sesion.nombre_sesion}"></td>
                    <td th:text="${sesion.lugar_sesion}"></td>
                    <td th:text="${sesion.hora_sesion}"></td>
                   
                <tr/>
              
            </table>
            <h2 align="center"><a th:href="@{/}"> Ver usuarios</a></h2>
            <h2 align="center"><a th:href="@{/asistencia}"> Ver asistencias</a></h2>
        </div>
        <div th:if="${sesiones == null or sesiones.empty}" align="center">
             La lista no tiene informacion  
            <h2 align="center"><a th:href="@{/}"> Ver usuarios </a></h2>
            <h2 align="center"><a th:href="@{/asistencia}"> Ver asistencias</a></h2>

        </div>
    </body>
</html>
